@model VAIISemka.Models.Post
@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center bg-white">

    <div class="text-left">
        <span class="font-weight-bold" style="color:darkorange">@(Model.Category == null ? "Nezaradené" : Model.Category.Name)</span>
    </div>

    <h2 class="text-left">@Model.Header</h2>

    <div class="text-left">
        <span class="text-secondary">@Model.CreateDate</span>
    </div>

    <img src="~/images/@Model.ThumbnailImage" class="img-fluid" alt="Obrázok článku">

    <p class="text-left bg-dark">
        @Html.Raw(Model.Body)
    </p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Upraviť</a>
        <a asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-danger">Vymazať</a>
    </div>
}