@model VAIISemka.ViewModels.PostCategoryViewModel
@{
    ViewData["Title"] = "Edit Post";
}

<div class="form-bg">
    <h4>Editovanie článku</h4>
    <hr />
    <form asp-action="UploadImage" asp-route-editing="true" id="myForm" method="post" runat="server" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-5">
                @Html.LabelFor(a => a.Post.Header, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(a => a.Post.Header, new { @class = "form-control", id = "header" })
                <span id="headerValidation" class="text-danger"></span>
                <span id="nadpisExistuje" class="text-danger" style="display:none">Zadaný názov článku už existuje.</span>
            </div>
        </div>
        <br />
        @Html.DropDownListFor(a => a.Post.Category.Id, Model.Categories, new { @class = "form-control selectpicker" })
        @Html.HiddenFor(a => a.Post.Category)
        <br />
        <div class="form-group">
            @Html.LabelFor(a => a.Post.Body, new { @class = "font-weight-bold" })
            @Html.TextAreaFor(a => a.Post.Body, new { id = "bodyText" })
            <span id="bodyTextValidation" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-4 my-auto">
                @Html.HiddenFor(a => a.Post.ThumbnailImage)
                <input type="file" name="thumbnailImage" class="form-control-file" />
            </div>

            @if (Model.Post.ThumbnailImage != null)
            {
                <div class="col-2 my-auto">
                    <img src="~/images/@Model.Post.ThumbnailImage" width="100" class="img-thumbnail img-fluid" id="thumbnailImage" alt="Obrázok článku">
                </div>
                <div class="col-1 my-auto">
                    <input asp-action="RemoveImage" asp-route-img="@Model.Post.ThumbnailImage" asp-route-editing="true" type="submit" value="X" class="btn btn-dark" formmethod="post"
                           onclick="return confirm('Naozaj chcete odstrániť obrázok ?')" />
                </div>
            }

        </div>
        <div>
            <span id="thumbnailValidation" class="text-danger"></span>
        </div>

        <hr />

        @Html.HiddenFor(Model => Model.Post.Id)

        <div class="form-group">
            <input asp-action="Edit" type="submit" value="Upraviť" class="btn btn-primary" formmethod="post" onclick="return validate();" />
        </div>

    </form>

    <div>
        <a asp-action="Index">Späť na článok</a>
    </div>

</div>

<script>
    tinymce.init({
        selector: '#bodyText',
        plugins: 'advlist autolink link image lists charmap print preview visualblocks'
    });

    $('input[type=file]').change(function () {
        $('#myForm').submit();
    });

    function validate() {
        var isValid = true;
        var editorContent = $.trim(tinyMCE.get('bodyText').getContent({ format: 'text' }));
        if (editorContent.length == 0) {
            $('#bodyTextValidation').text("Článok musí mať text.");
            isValid = false;
        }
        if ($.trim($("#header").val()).length == 0) {
            $('#headerValidation').text("Článok musí mať nadpis.");
            isValid = false;
        }
        if ($('#nadpisExistuje').is(':visible')) {
            isValid = false;
        }
        if ($('#thumbnailImage').length == 0)
        {
            $('#thumbnailValidation').text("Článok musí mať náhľadový obrázok.");
            isValid = false;
        }
        if (isValid == false) {
            alert("Vyplňte prosím všetky požadované polia.");
        }
        return isValid;
    }

    $(document).ready(function () {
        $('#header').on('change', function () {
            var header = $("#header").val();
            var postID = 0;
            $.ajax({
                type: "POST",
                url: "/posts/checkheader",
                data: { 'header': header, 'postID': postID },
                dataType: "json",
                success: function (response) {
                    if (response)
                        $("#nadpisExistuje").show();
                    else
                        $("#nadpisExistuje").hide();
                }
            });
        })
    });

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>